/*  your css code here. If applicable */
.star {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent; 
   border-bottom: 100px solid yellow;
 position: relative; 
  margin: 100px auto;
}

.star::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -60px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 100px solid yellow;
}
